<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produtos</title>
  </head>
  <body>
    <h1>Produtos</h1>
    <p>Lista de todos produtos</p>
    <table>
      <thead>
        <tr>
          <td>Nome</td>
          <td>Preço</td>
          <td>Quantidade</td>
        </tr>
      </thead>
      <tbody>
        <% if (!results|| results.lenght == 0){%>
        <tr>
          <td>Nenhum cliente cadastrado</td>
        </tr>
        <% }else{ results.forEach((product) =>{%>
        <tr>
          <td><%product.name%></td>
          <td><%product.preco%></td>
          <td><%product.quantidade_em_estoque%></td>
          <td>
            <a href="/edit/<%= resultsid %>">Editar</a>
            <a
              href="/delete/<%= results.id %>"
              onclick="return confirm('Tem certeza?');"
              >Excluir</a
            >
          </td>
        </tr>
        <%})} %>
      </tbody>
    </table>
  </body>
</html>
