<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CRUD de Clientes</title>
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/itemList.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li>
            <a href="/">← Voltar para Home</a>
          </li>
          <li>
            <a href="/products">Produtos</a>
          </li>
          <li>
            <a href="/clients">Clientes</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="container">
      <h1>Listagem de Clientes</h1>
      <p>Clientes ja cadastrados</p>
      <table>
        <%if(!result||result.length==0){%>
        <thead>
          <tr>
            <td><h2>Nenhum cliente cadastrado</h2></td>
          </tr>
          <%}else{%>
          <thead>
            <tr>
              <td>Nome</td>
              <td>Idade</td>
              <td>actions</td>
            </tr>
          </thead>
        </thead>

        <tbody>
          <%result.forEach(function(client) {%>
          <tr class="data-row">
            <td><%= client.nome %></td>
            <td><%= client.idade %></td>
            <td class="actions">
              <a href="clients/<%= client.id %>">Editar</a>
              <a
                href="clients/<%= client.id %>"
                onclick="return confirm('Tem certeza?');"
                >Excluir</a
              >
            </td>
          </tr>
          <%})} %>
        </tbody>
        <tfoot>
          <td colspan="99">
            <a href="/clients/new" class="new-client-btn">Cadastrar Novo</a>
          </td>
        </tfoot>
      </table>
      <div class="pagination">
        <button onclick="previousPage()">Anterior</button>
        <span id="pageNumber">Página 1</span>
        <button onclick="nextPage()">Próxima</button>
      </div>
      <script src="/js/itemList.js"></script>
    </main>
  </body>
</html>
