<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produtos</title>
  </head>
  <body>
    <a href="/">Home</a>
    <h1>Listagem de Produtos</h1>
    <p>Produtos ja cadastrados</p>
    <table style="width: 50%">
      <thead>
        <tr style="background-color: #ccc">
          <td style="width: 50%">Nome</td>
          <td style="width: 15%">Idade</td>
        </tr>
      </thead>
      <tbody>
        <%result.forEach(function(product) {%>
        <tr>
          <td style="width: 50%"><%= product.nome %></td>
          <td style="width: 15%"><%= product.idade %></td>
          <td>
            <a href="/edit/<%= product.id %>">Editar</a>
            <a
              href="/delete/<%= product.id %>"
              onclick="return confirm('Tem certeza?');"
              >Excluir</a
            >
          </td>
        </tr>
        <% }) %>
      </tbody>
      <tfoot>
        <td>
          <a href="/products/new">Cadastrar Novo</a>
        </td>
      </tfoot>
    </table>
  </body>
</html>
